body {
  background-image: url(https://mail.google.com/mail/u/6?ui=2&ik=2c93d8b345&attid=0.1&permmsgid=msg-f:1877808721937279432&th=1a0f51156333a9c8&view=fimg&fur=ip&permmsgid=msg-f:1877808721937279432&sz=s0-l75-ft&attbid=ANGjdJ9rdVpo8vaUrJQh-ZS4hRhpxpsiFvEW0-nTlcw2WLSmZNddtWqocLZrT-jAubPOzCXOfR6J53jCdzPzG_Fz5m5R4YKOkT9Me3_JM4MezBLYqoZH7gKMydd9edo&disp=emb&realattid=ii_1a0f51121d644fb3df11&zw);
  font-family: sans-serif;
  padding: 20px;
}

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

h2 {
  font-size: 30px;
}

.established {
  font-style: italic;
}

h1, h2, p {
  text-align: center;
}

.menu {
  width: 80%;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

hr {
  height: 2px;
  background-color: brown;
  border-color: brown;
}

.bottom-line {
  margin-top: 25px;
}

h1, h2 {
  font-family: Impact, serif;
}

.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

.flavor, .dessert {
  text-align: left;
  width: 75%;
}

.price {
  text-align: right;
  width: 25%;
}

/* FOOTER */

footer {
  font-size: 14px;
}

address {
  font-style: normal;
}

.address {
  margin-bottom: 5px;
}

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: brown;
}

a:active {
  color: brown;
}
