body {
background-image: https://mail.google.com/mail/u/6?ui=2&ik=2c93d8b345&attid=0.1&permmsgid=msg-a:r507215384714347122&th=1a0f560b2c5ef11f&view=att&disp=safe&realattid=f_muoxv1oq1&zw;
  font-family: sans-serif;
}

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

h2 {
  font-size: 30px;
}

.established {
  font-style: italic;
}

h1, h2, p {
  text-align: center;
}

.menu {
  width: 80%;
  background-color: lavender;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

hr {
  height: 2px;
  background-color: grey;
  border-color: purple;
}

.bottom-line {
  margin-top: 25px;
}

h1, h2 {
  font-family: Times New Roman, serif;
}

.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

.flavor, .dessert {
  text-align: left;
  width: 75%;
}

.price {
  text-align: right;
  width: 25%;
}

/* FOOTER */

footer {
  font-size: 14px;
}

address {
  font-style: normal;
}

.address {
  margin-bottom: 5px;
}

a {
  color: purple;
}

a:visited {
  color: red;
}

a:hover {
  color: blue;
}

a:active {
  color: brown;
}
