
body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQa1nt0fzg9LryJzo8qVUlxjGfy12AFGM5w_UUNHfkJkQ&s=10);
  font-family: sans-serif;
  padding: 20px;
}
h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
    text-align: center;

}

h2 {
  font-size: 30px;
    text-align: center;

}

.established {
  font-style: italic;
    text-align: center;

}
.title {
  font-style: italic;
    text-align: center;

}
.address {
  font-style: italic;
    text-align: center;

}
.link {    text-align: center;

}
.socials {
  font-weight: bold;
    text-align: center;

}
h1, h2, p, address{
  text-align: center;
}

.menu {
  width: 80%;
  background-color: lavender;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

hr {
  height: 2px;
  background-color: purple;
  border-color: purple;
}

.bottom-line {
  margin-top: 25px;
}

h1, h2, h3, p, li {
  font-family: Times New Roman, serif;
}

.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;

}

.flavor, .dessert {
  text-align: left;
  width: 75%;
}

.price {
  text-align: right;
  width: 25%;
}

/* FOOTER */

footer {
  font-size: 14px;
}

address {
  font-style: normal;
}

.address {
  margin-bottom: 5px;
}

a {
  color: purple;
}

a:visited {
  color: red;
}

a:hover {
  color: blue;
}

a:active {
  color: orange;
}
